html{}

body{
    font: 16px/1.3 Arial,'微軟正黑體',sans-serif;
    margin: 0;
    padding: 0;
    min-width: 1024px;
}
a {
  color: #1b96cf;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #1b96cf;
  text-decoration: underline;
}

.body{
  background: url(img/menu_bg.png) left top no-repeat,
  url(img/menu_bg2.png) left top repeat-x,
  url(img/header_bg.jpg) left top no-repeat;
}
/*header*/
header {
  min-height: 175px;
}
h1 {  
  position: absolute;
  top: 29px;
  left: 15px;
}

h1 a {
	position: relative;
	z-index: 3;
	width: 315px;
	height: 110px;
	background: url(img/logo.png) center center no-repeat;
	color: transparent;
	display: block;
	background-image: url(img/%E6%9C%AA%E5%91%BD%E5%90%8D-3.png);
}

h1 a:hover {
    color: transparent;
    text-decoration: none;
    filter: brightness(1.16);
    -webkit-filter: brightness(1.16);
    transition:all .2s;
}
h2{
  font-size: 26px;
  color: #fff;
  font-weight: bold;
  text-shadow: 
  -1px -1px 0px #009944,
   0px -1px 0px #009944,
   1px -1px 0px #009944,
  -1px  0px 0px #009944,
   1px  0px 0px #009944,
  -1px  1px 0px #009944,
   0px  1px 0px #009944,
   1px  1px 0px #009944,
  -2px -2px 0px #009944,
  -1px -2px 0px #009944,
   0px -2px 0px #009944,
   1px -2px 0px #009944,
   2px -2px 0px #009944,
   2px -1px 0px #009944,
   2px  0px 0px #009944,
   2px  1px 0px #009944,
   2px  2px 0px #009944,
   1px  2px 0px #009944,
   0px  2px 0px #009944,
  -1px  2px 0px #009944,
  -2px  2px 0px #009944,
  -2px  1px 0px #009944,
  -2px  0px 0px #009944,
  -2px -1px 0px #009944,
  0 3px 8px rgba(0,0,0,.6); 
  margin-bottom: 20px;
}

/*user-menu*/
.user-menu {
    position: absolute;
    top: 23px;
    right: 26px;
    z-index: 3;
    padding-bottom: 8px;
    color: #0081cc;
    font-size: 17px;
    line-height: 1;
    font-weight: bold;
}
.user-menu:hover .user-info {
    display: block;
    position: absolute;
    top: 100%;
    right: 0;
}
.user-info {
    display: none;
    background-color: #61b6e7;
    padding: 15px 15px 20px;
    color: #fff;
    font-size: 15px;
    line-height: 1.6;
    font-weight: normal;
}
.user-info li {
    white-space: nowrap;
}
.user-out {
    width: 100%;
    border: 0;
    background-color: #dff0fa;
    color: #0081cc;
    font-weight: bold;
    border-radius: 4px;
    margin-top: 10px;
    font-size: 17px;
    height: 32px;
}
.user-out:hover{
  background-color: #0081cc;
  color: #fff;
}
/*menu*/
nav {
    position: absolute;
    top: 61px;
    left: 0;
    width: 100%;
    padding-left: 338px;
    z-index: 2;
}
nav a{display: block;}
nav a:hover{text-decoration: none;}
ul.mu-1 > li > a {
    line-height: 55px;
    color: #fff;
    font-size: 17px;
    font-weight: bold;
}
ul.mu-1 > li:hover > a{color: #fff7af;}
ul.mu-1 > li {
    display: inline-block;
    margin-left: 10px;
    position: relative;
}
.mu-1 > li:hover .mu-2 {
    display: block;
}
nav .mu-2 {
    display: none;
    position: absolute;
    background-color: #f0f7fd;
    border-left: 1px solid #0081cc;
    border-right: 1px solid #0081cc;
}
nav .mu-2 li {
  border-bottom: 1px solid #0081cc;
}
nav .mu-2 li a {
    color: #0081cc;
    line-height: 35px;
    white-space: nowrap;  
    padding-left: 10px;
    padding-right: 10px; 
    min-width: 170px;
}
nav .mu-2 li a:hover{
  background-color: #fff;
}
/*content*/

.main-container{
  /*max-width: 1024px;*/
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 30px;
  /*min-height: calc( 100vh - 258px );*/
}
.main-container.max-width{
  max-width: 1330px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 25px;
  padding-right: 25px;
}
/*submenu*/
.main-container .submenu {
    padding-left:0;
}

.submenu li {
    list-style: none;
    display: inline-block;
}
.submenu a:hover{
  text-decoration: none;
}
.submenu.tabs-style{
    display: flex;
    
}

.submenu.tabs-style li {

}

.submenu.tabs-style li + li {
    margin-left: -1px;
}
.submenu.tabs-style li:first-child a{
  border-radius: 0 8px 0 0;
  border-left-color: transparent;
}
.submenu.tabs-style li a{
    color: #000;
    line-height: 43px;
    font-weight: bold;
    border: 1px solid #e2e2e2;
    padding: 0 14px;
    display: block;
    border-radius: 8px 8px 0 0;
    box-shadow: 0 3px 15px rgba(0,0,0,.3);
    background-color: #fff;

}
.submenu.tabs-style .number {
    background-color: #000;
    color: #fff;
    line-height: 17px;
    min-width: 21px;
    text-align: center;
    border-radius: 50%;
    display: inline-block;
    margin: 0 2px;
    padding: 2px;
    font-size: 13px;
}
.main-container ul li.show {
  position: relative;
  z-index: 1;
}
.main-container ul li.show:before {
    content: '';
    display: block;
    position: absolute;
    left: -15px;
    bottom: -15px;
    width: calc( 100% + 28px );
    height: 15px;
    background-color: #fff;
}

.main-container ul li.show:first-child:before{
  left: 0;
  width: calc( 100% + 14px );
}

.main-container ul li a:hover,
.main-container ul li.show a {
    border-bottom: 1px solid transparent;
    color: #f66200;
}
.main-container ul li.show a{
  box-shadow: 0px 3px 15px rgba(0,0,0,.3);
  cursor: default;
}
.submenu.tabs-style a:hover .number,
.submenu.tabs-style li.show .number {
  background-color: #f66200;
}
.submenu.tabs-style + .content {
  margin-top: -1px;
  border: 1px solid transparent;
}

.content{
  padding: 30px 20px 40px;
  box-shadow: 0px 3px 15px rgba(0,0,0,.3);
  background-color: #fff;
  position: relative;
  color: #575757;
}

h2.title-style{
    position: relative;
    z-index: 1;
    line-height: 1;
    font-weight: bold;
    border: 0px solid #e2e2e2;
    padding: 14px 14px 7px;
    display: inline-block;
    border-radius: 8px 8px 0 0;
    box-shadow: 0 3px 15px rgba(0,0,0,.3);
    background-color: #fff;
    margin-bottom: 0!important;
    text-shadow: 
    -1px -1px 0px #f66200,
     0px -1px 0px #f66200,
     1px -1px 0px #f66200,
    -1px  0px 0px #f66200,
     1px  0px 0px #f66200,
    -1px  1px 0px #f66200,
     0px  1px 0px #f66200,
     1px  1px 0px #f66200,
    -2px -2px 0px #f66200,
    -1px -2px 0px #f66200,
     0px -2px 0px #f66200,
     1px -2px 0px #f66200,
     2px -2px 0px #f66200,
     2px -1px 0px #f66200,
     2px  0px 0px #f66200,
     2px  1px 0px #f66200,
     2px  2px 0px #f66200,
     1px  2px 0px #f66200,
     0px  2px 0px #f66200,
    -1px  2px 0px #f66200,
    -2px  2px 0px #f66200,
    -2px  1px 0px #f66200,
    -2px  0px 0px #f66200,
    -2px -1px 0px #f66200,
    0 3px 8px rgba(0,0,0,.6); 
    margin-bottom: 20px;
}
h2.title-style:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -15px;
    z-index: 1;
    width: calc( 100% + 15px );
    height: 15px;
    background-color: #fff;
}
/*footer*/

footer{
  background-color: #0081cc;
}
.footer-info{
  padding: 17px;
  color: #fff;
  text-align: center;
}

/*rwd desktop*/
@media (min-width: 1024px){

}
@media (min-width: 768px){

}

/*rwd mobile*/
@media (max-width: 1024px){

}
@media (max-width: 1023px) and (min-width: 768px){

}

@media (max-width: 576px){ 

}
