.search-top,
.title-flex{
  font-size: 17px;
  font-weight: bold;
}
.search-top + .title-flex,
.search-top + h2.title-style {
    margin-top: 20px;
}
.title-flex{
  display: flex;
  justify-content: space-between;
  /*align-items: center;*/
}
.search-top input[type="submit"],
.title-flex input[type="submit"]{
    padding-top: 2px;
    vertical-align: top;
}
.search-top input[type="submit"]{
  margin-bottom: 5px;
}
/*tool-top*/
.tool-top{
	margin-bottom: 20px;
}
.tool-top > *{
	display: inline-block;
}
.tool-top input[type="submit"] + div {
    margin-left: 8px;
}
.tool-top input[type="text"] + input[type="submit"] {
    margin-left: 2px;
}
.date-style + input[type="text"] {
    margin-left: 5px;
}
.tool-top input[type="submit"]{
  vertical-align: top;
}


/*table*/

.bg-w,
.bg-w.table-style tr,
.bg-w.table-style td,
.bg-w.table-style2 tr,
.bg-w.table-style2 td{
    background-color: #fff;
    border-color: transparent;
}

.bg-green,
.bg-green.table-style tr,
.bg-green.table-style td,
.bg-green.table-style2 tr,
.bg-green.table-style2 td{
    background-color: #53aa08;
    border-color: transparent;
    color: #fff;
}

.table-radius{
	border-radius: 8px 8px 0 0;
	border-top: 8px solid #f66200;
}
.table-radius .table-style th,
.table-radius .table-style2 th{
	padding-top: 0;
}
.table-radius2{
    border-radius: 8px ;
    border: 1px solid #f66200;
    overflow: hidden;
}
.table-radius2 .table-style tr,
.table-radius2 .table-style2 tr{}

.table-radius2 .table-style td,
.table-radius2 .table-style2 td{
    border-bottom: 0;
}
.table-radius2 .table-style th,
.table-radius2 .table-style2 th{
    padding-top: 8px;
    padding-left: 0;
}
.table-radius2 .table-style td,
.table-radius2 .table-style2 td{
  border: 0;
}

.table-radius3{
    border-radius: 8px ;
    border: 15px solid #f66200;
    overflow: hidden;
}
.table-radius3 .table-style th,
.table-radius3 .table-style td,
.table-radius3 .table-style2 th,
.table-radius3 .table-style2 td{
    padding: 0;
    line-height: 1.6;
    font-size: 17px;
}


.table-style,
.table-style2{
	width: 100%;
	font-size: 16px;	
}
.table-style th,
.table-style td,
.table-style2 th,
.table-style2 td{
	padding: 8px;
}
.table-style.table-td-m th,
.table-style.table-td-m td,
.table-style2.table-td-m th,
.table-style2.table-td-m td{
  padding: 15px 8px;
}
.table-style th,
.table-style2 th{
	background-color: #f66200;
	color: #fff;
}
.table-style th a,
.table-style2 th a{
	color: #fff;
	cursor: pointer;
}
.table-style th a:hover,
.table-style2 th a:hover{
	color: #fff;
	text-decoration: underline;
}
.table-style tr:nth-child(odd),
.table-style2 tr:nth-child(odd){
	background-color: #f9f9f9;
}
.table-style tr:hover {
    background-color: #fffbd4;
}
.table-style td{
	border-bottom: 1px solid #e6e6e6;
}
.table-style2 td{
    border: 1px solid #e6e6e6;
}


.table-dark.table-radius2,
.table-dark.table-radius{
    border-color: #b1b1b1;
}
.table-dark .table-style th,
.table-dark .table-style2 th{
    background-color: #b1b1b1;
    color: #000;
}

.table-blue.table-radius{
    border-color: #3390cc;
}
.table-blue .table-style th,
.table-blue .table-style2 th{
    background-color: #3390cc;
}
.table-green.table-radius,
.table-green.table-radius2,
.table-green.table-radius3{
    border-color: #53aa08;
}
.table-green .table-style th,
.table-green .table-style2 th{
    background-color: #53aa08;
}


/*DataPager*/
.DataPager {
    margin: 20px auto 0 auto;
    text-align: right;
}

.ButtonPage {
    background: transparent;
    border: 1px solid transparent;
    color: #4b4b4b;
    border-radius: 4px;
    padding: 5px 10px 5px 10px;
    cursor: pointer;
}
.ButtonPage.CurrentPage {
    padding-left: 5px;
    padding-right: 5px;
    cursor: default;
}
a.ButtonPage, input[type="submit"].ButtonPage {
    background: #e9e9e9;
    border-color: #e9e9e9;
    color: #4b4b4b;
    vertical-align: unset;
}
    a.ButtonPage:hover, input[type="submit"].ButtonPage:hover {
        background: #9c9c9c;
        border-color: #9c9c9c;
        color: #fff;
        text-decoration: none;
    }



.radio-style input[type='radio']{
  visibility: hidden;
  margin-left: -13px;
} 
.radio-style label{
  cursor: pointer;
  margin: 4px 6px 4px 0;
  font-weight: normal;
}
.radio-style label:before {
    content: "\f10c";
    display: inline-block;
    font: normal normal normal 17px/1 FontAwesome;
    padding-right: 5px;
}
.radio-style input:checked + label:before {
  content: "\f058";
  color: #f66200;
}


.check-style input[type='checkbox']{
  visibility: hidden;
  margin-left: -13px;
} 
.check-style label{
  cursor: pointer;
  margin: 6px 6px 6px 0;
  font-weight: normal;
}
.check-style label:before {
  content: "\f096";
  display: inline-block;
  font: normal normal normal 17px/1 FontAwesome;
  padding-right: 5px;
  transform: translate(0, 1px);
}
.check-style input:checked + label:before {
  content: "\f14a";
  color: #f66200;
  padding-right: 3.7px;
}